<section class="">
    <!-- Footer -->
    <footer class="text-center text-white">
      <!-- Grid container -->
        <!-- Section: CTA -->
          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/Xavierams08" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/xavierms" role="button"
          ><i class="fab fa-github"></i
        ></a>
        <!-- Section: CTA -->
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #0a4275;">
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/xavierms">Xavier Mejia</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>